a {
    color: #fff !important
}
/* Dropdown menu (visa dėžutė) */
.custom-dropdown .dropdown-menu {
  background-color: #222; /* Tamsus fonas */
}

/* Dropdown itemai */
.custom-dropdown .dropdown-item {
  color: #fff; /* Teksto spalva */
}

.custom-dropdown .dropdown-item:hover,
.custom-dropdown .dropdown-item:focus {
  background-color: #444; /* Hover fonas */
  color: #fff;
}

.FixNavBar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #343a40; /* Tamsus fonas */
}